# Moving the list of Sphinx dependencies to a separate file 
# so that we don't need to edit the GitHub pages build 

# docs/requirements.txt

sphinx
myst_parser
linkify-it-py

sphinxcontrib.bibtex
sphinxcontrib.mermaid 
sphinxcontrib-sqltable
sphinx-design
sphinx_copybutton
sphinx_togglebutton
nbsphinx

# Add your theme here, e.g., sphinx-rtd-theme
#sphinx_rtd_theme
pydata_sphinx_theme